@import '../../styles/mixins';
@import '../../styles/variables';

:host {
  #center();
  padding: @padding-large;
  box-shadow: @shadow-large;
  background-color: white;
  border-radius: @border-radius;
  border-bottom: 1px solid @lightgrey;

  input {
    #full-width();
    #input();
    margin-bottom: @padding-medium;
  }

  button.login {
    #full-width();
    #button-primary();
    margin-bottom: @padding-medium;
  }

  button.register-toggle {
    #full-width();
    text-align: center;
    font-family: @font-primary;
    border: none;
    background: none;

    &:hover {
      text-decoration: underline;
    }
  }

}