@import './variables';

#center(@x: 0, @y: 0) when (@x = true) and (@y = 0) {
  left: 50%;
  transform: translateX(-50%);
}
#center(@x: 0, @y: 0) when (@y = true) and (@x = 0) {
  top: 50%;
  transform: translateY(-50%);
}
#center(@x: 0, @y: 0) when (@x = 0) and (@y = 0) {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#center(@x: 0, @y: 0) {
  position: absolute;
}

#full-width() {
  display: block;
  width: 100%;
}

#button-primary() {
  background-color: @color-primary;
  border: none;
  border-bottom: 1px solid darken(@color-primary, 25%);
  border-radius: @border-radius;
  box-shadow: @shadow-small;
  padding: 8px;
  text-align: center;
  color: white;
  font-size: 1rem;
  
  transition: 
    background-color @transition, 
    border @transition,
    box-shadow @transition;

  &:hover, &:focus {
    background-color: lighten(@color-primary, 10%);
    border-bottom-color: @color-primary;
  }

  &:disabled {
    background-color: @lightgrey;
    border-bottom: 1px solid darken(@lightgrey, 25%);
    cursor: default;
    box-shadow: none;
  }
}

#input() {
  border: 1px solid @grey;
  border-radius: @border-radius;
  padding: 6px;
  font-size: 1rem;
  box-shadow: none;
  transition: border @transition, box-shadow @transition;

  &:focus {
    outline: 0;
    box-shadow: 0 0 8px fade(@blue, 70%);
    border: 1px solid @blue;
  }
}

#currency(@scale: 1) {
  &::after {
    display: inline-block;
    border: 2px solid darken(@yellow, 25%);
    color: darken(@yellow, 25%);
    border-radius: 100%;
    background-color: @yellow;
    font-size: 8px * @scale;
    width: 6px * @scale;
    height: 6px * @scale;
    padding: 2px * @scale;
    margin-left: 2px * @scale;
    line-height: (8px * @scale) - 1;
    vertical-align: middle;
    content: 'C';
  }
}