@import '../../styles/mixins';
@import '../../styles/variables';

@border-color: darken(@color-primary, 25%);

:host {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  min-height: 50px;
  background-color: @color-primary;
  border-bottom: 1px solid @border-color;
  color: white;
  box-shadow: @shadow-medium;
  font-family: @font-primary;
  
  .title {
    font-size: 2rem;
    border-right: 1px solid @border-color;
    padding: 0 @padding-medium;
    display: flex;
    align-items: center;
  }
  
  .user-info {
    position: relative;
    margin: @padding-medium;
    flex-grow: 2;
    display: flex;
    font-size: 1rem;

    .user {
      #center(@y: true);
      right: 0;
      margin-left: @padding-medium;
      cursor: pointer;
      transition: text-shadow @transition;

      &:hover {
        text-shadow: 0 0 4px white;
      }
    }

    .credits {
      #center(@y: true);
      left: 0;
      #currency(@scale: 1);
    }
  }
}